/* 반응형 디자인 - 모바일 (최대 480px) */
@media screen and (max-width: 480px) {
    #postcard {
        width: 330px;
        height: 330px;
    }

    .p-message {
        font-size: 15px;
    }
    .icon{
        font-size: 15px;
    }
}



/* 반응형 디자인 - 태블릿 및 작은 화면 (최대 768px) */
@media screen and (max-width: 768px) {
    #postcard {
        width: 400px;
        height: 400px;
    }
    .p-message {
        font-size: 18px;
    }
    .icon{
        font-size: 18px;
    }
}

